__MACOSX
.DS_Store
.fleet
.idea
.nova
.zed
.cursor
.vscode
*Zone.Identifier
.cache
npm-debug.log*
coverage
*.local
storybook-static
.turbo
.output
.data
.nuxt
.nitro
.cache
dist
.env
*.log
node_modules
logs
*.swo
*.swp
