// PfLink
:root {
  --pf-link-color-active: var(--pf-color-primary);
  --pf-link-color-inactive: var(--pf-color-muted);
  --pf-link-color-hover: var(--pf-color-text);
  --pf-link-focus-ring-color: var(--pf-color-primary);
  --pf-link-disabled-opacity: 0.75;
}
