// Typography tokens
:root {
  --pf-font-sans: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;

  --pf-font-size-3xs: 0.5rem;
  --pf-font-size-2xs: 0.625rem;
  --pf-font-size-xs: 0.75rem;
  --pf-font-size-sm: 0.875rem;
  --pf-font-size-md: 1rem;
  --pf-font-size-lg: 1.125rem;

  --pf-font-weight-normal: 400;
  --pf-font-weight-medium: 500;
  --pf-font-weight-bold: 600;

  --pf-line-height-sm: 1.25;
  --pf-line-height-md: 1.5;
  --pf-line-height-lg: 1.75;
}
